.us-ico{
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url('../../../public/img/icons/flags/us.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
}